<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>uk.co.simplysim.turbothecat.listener</string>
  <key>CFBundleName</key>
  <string>TurboListen</string>
  <key>CFBundleExecutable</key>
  <string>turbo-listen</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>LSBackgroundOnly</key>
  <true/>
  <key>NSMicrophoneUsageDescription</key>
  <string>Turbo listens for "Hey Turbo" and your voice commands.</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>Turbo recognises your speech on-device so you can talk to it.</string>
</dict>
</plist>
